.fixed-typography {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 256px;
  font-weight: bold;
  color: #F4F4F4;
  line-height: 1.2em;
  text-align: center;
  z-index: -1;
  overflow: hidden;
}

.info-block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Droid Sans Mono', 'Ubuntu Mono', monospace;
  width: 100%;
  padding: 0 16px;
  overflow: hidden;
  color: #888888;
  text-align: center;
}

.info-block .user-name {
  font-size: 14px;
  line-height: 1.5em;
}

.info-block .user-motivation {
  font-size: 64px;
  line-height: 66px;
  margin: 16px 0;
}

@media (max-width: 480px) {
  .fixed-typography {
    font-size: 128px;
  }

  .info-block .user-avatar {
    width: 128px;
  }

  .info-block .user-motivation {
    font-size: 48px;
    line-height: 50px;
  }
}
